* { margin: 0; padding: 0; }

body{
    font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}

ul, ol, li { list-style: none; }

a { text-decoration: none; }
a:link { color: #444; }
a:visited { color: #444; }
a:hover { color: #444; }
a:focus { color: #444; }

.clear::after { content: ""; display: block; clear: both; }

img, a, fieldset { border: none; }

