
/* 공통 부분 ---------------------------------------------------------------------------*/

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input, select, textarea, button {
    font-family: noto sans, malgun gothic,AppleGothic, dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}

header, #container, #content {
    position: relative;
}

h1,h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}

/* 여건작성 {*/
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
/* } */

ul, ol, li { list-style: none; }

a { text-decoration: none; }
a:link { color: #444; }
a:visited { color: #444; }
a:hover { color: #444; }
a:focus { color: #444; }

.clear::after { content: ""; display: block; clear: both; }

img, a, fieldset { border: none; }

input::-webkit-input-placeholder { color: #999; }
textarea::-webkit-input-placeholder { color: #999; }

table, thead, tbody, tfoot { border-collapse: collapse; border-spacing: 0; border: none; }


/*
    웹 접근성을 위한 skipnavi
    https://nuli.navercorp.com/community/article/1132804 
*/
.screen_out {
    position: absolute;
    left: 0; top: -50px; text-indent: -9999px; font-size: 0; width: 100%; z-index: 999;
}



/* 메인페이지(index.php) ----------------------------------------------------------------- */


/* header */

header{
    width: 100%;
    height:198px;
    justify-content: center;
}

#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}

header > #userMenu{
    width: 1050px;
    height:37px;
    background-color: #fff;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: -.3px;
}

/* DK */
header > #userMenu> .link_menu {
    color:#333
}



header > #userMenu:after {
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
}


header > #userMenu > .listMenu {
    float: right;
    display:list-item;
    line-height: 35px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* 드롭다운바 */
header > #userMenu> .listMenu {
        font-size: 12px;  
        line-height: 24px;
        color: #333;          
}

#userMenu .menu {
    position: relative;
    z-index: 400;
    float: left;
}

#userMenu .menu:after {
    content: "";
    float: right;
    width: 1px;
    height: 13px;
    margin-top: 12px;
    background-color: #d8d8d8;
}



#userMenu .menu_login .link_menu {
    padding: 0 16px 0 15px;
}

#userMenu .menu.lst:before {
    top: 16px;
    right: 0;
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    background: url(../img/ico_down_8x5.png) no-repeat 0 0;
}


/* #userMenu .menu:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    background: url(../img/ico_down_8x5.png) no-repeat 0 0;
} */


/* 고객센터 글씨 */
header > #userMenu > .listMenu> li > .linkMenu{
    float: left;
    height: 37px;
    padding: 0 10px 0 10px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}

/* 회원가입 부분글씨색 변경
#userMenu .menu .link_menu {
    color: #5f0080;
} */


#userMenu .lst .sub {
    left: auto;
    right: 0;
}
#userMenu .sub {
    display: none;
    position: absolute;
    left: 0;
    top: 34px;
    width: 102px;
    padding: 3px 9px;
    border: 1px solid #ddd;
    background-color: #fff;
}
/* 드롭다운바 끝 */

header > #headerLogo{
    position: relative;
    width: 1050px;
    height:63px;
    background-color: #fff;
    margin: 0 auto;
}
header > #headerLogo > .bnr_delivery{
    position: absolute;
    left: -1px;
    top: -28px;
    margin: auto;
    height: 22px;
}

header > #headerLogo .logo {
    width: 103px;
    height: 79px;
    margin: 0 auto;
}
/* 새벽배송 */
header > #headerLogo > .logo > a > span > img{
    width: 103px;
    height: 79px;
}

header > #headerLogo > .bnr_delivery > img{
    width: 121px;
    aspect-ratio: auto 121 / 22;
    height: 22px;
}

/* headerLogo 끝 */

header > #gnb {
    height:56px;
}

/* main */
header > #gnb .gnb_main{
    overflow:hidden;
    width:1050px;
    margin:0 auto;
}

header .gnb_main .gnb a {
    overflow: hidden;
    float: left;
    width: 124px;
    height: 55px;
    /* padding: 16px 0 0; */
    font-size: 16px;
    color:#333;
    line-height: 20px;
    text-align: center;
}

/* 상단바 */

/* <<<<<<< HEAD */
#gnb .gnb_main .gnb a:hover {
    font-size: 16px;
    color: #5f0080;
    line-height: 20px;
}


/* DK */

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

span.ico:hover{
    color: #5f0080;
}
/* >>>>>>> main */

header > #gnb .inner_gnbkurly {
    position: relative;
    width: 1050px;
    height: 56px;
    margin: 0 auto;
}

header > #gnb > .gnb_kurly {
    content: "";
    position: absolute;
    z-index: 299;
    left: 0;
    top: 56px;
    width: 100%;
    height: 9px;
}

header > #gnb > .gnb_main{ 
    width: 1050px;
    height: inherit;
    overflow: hidden;
    margin: 0 auto;
}

header > #gnb > .gnb_main .gnb{ 
    float:left;
    width: 100%;
}

header > #gnb > .inner_gnbKurly{
    margin: 0 auto;
    background-color: #fff;
}

#gnb .gnb_main .gnb > li {
    float: left;   
}

#gnb .gnb_main .gnb > li > a {
    padding-top: 16px;  
}

header > #gnb > #gnbMenu {
    position: relative;
    width: 100%;
    height: 56px;
    min-width: 1050px;
    z-index: 300;
    background-color:#fff;
}

/* 예린 */
#gnb .gnb_main .menu1 a {
    width: 200px;
    text-align: left !important;
    background: #fff;
}

#gnb .gnb_main .menu1 a:hover {
    background: #d8d8d8;
}

.sub_menu li a.sub {
    background: #d8d8d8 !important;
}

.icon > img {
    height: 25px;
    margin-top: 15px;
    z-index: 100;
}

.ico_on {
    display: none;
}

#gnb .gnb_main .gnb a .menu {
    text-align: left;
}

#gnb .gnb_main .hover>a:hover {
    color: #5f0080;
    text-decoration: underline;
}

#gnb .gnb_main .menu1>a:hover {
    color: #5f0080;
    text-decoration: none;
    background-color: #fff !important;
}

#gnb .gnb_main .menu1 .gnb_sub{
    display: none;
}

#gnb .gnb_main .menu1 a:hover+div{
    display: block;
}

#gnb .gnb_main .menu1 a+div:hover{
    display: block;
}

.menu:hover>.icon>.ico_off {
    display: none;
}

.menu:hover>.icon>.ico_on {
    display: inline-block;
}

.tit .txt {
    font-size: 13px;
    /* vertical-align: center !important; */
    /* margin-bottom: 15px; */
    /* margin-top: 15px !important; */
    /* z-index: 100; */
}

.icon {
    margin-left: 15px;
}

#gnb .gnb_main .menu1 .ico {
    float: left;
    width: 16px;
    height: 14px;
    margin: 5px 14px 0 0;
    background: url(../img/ico_gnb_all_off.png) no-repeat;
}

#gnb .gnb_main .menu1 a:hover .ico{
    background-image: url(../img/ico_gnb_all_off.png);
    filter: invert(14%) sepia(25%) saturate(7147%) hue-rotate(272deg) brightness(57%) contrast(127%);
}

.sub_menu {
    display: none;
    /* position: relative;
    left: 200px;
    top: -55px; */
    position: absolute;
    left: 200px;
    top: 55px;
    z-index: 100;
}
/* 
.menu ul {
    position: relative;
} */

.menu:hover+.sub_menu{
    display: block;
}

.sub_menu:hover{
    display: block;
}

.sub:hover {
    text-decoration: underline;
}

.sub .name {
    font-size: 13px;
    /* padding-top: 30px !important; */
    margin-left: 15px;
}

#gnb .gnb_search .inp_search {
    width: 242px;
    height: 36px;
    padding: 0 0 0 14px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    outline: none;
}

#gnb .gnb_search .btn_search {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 30px;
    height: 30px;
    
}

.gnb_search .init .btn_delete {
    overflow: hidden;
    position: absolute;
    left: 170px;
    top: -36px;
    width: 36px;
    height: 36px;
    border: 0 none;
    background: url(../img/ico_search_del.sgv) no-repeat 50% 50%;
    background-size: 12px 12px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    opacity: 0;
}



#gnb .btn_location {
    overflow: hidden;
    position: absolute;
    right: 51px;
    top: 10px;
    width: 36px;
    height: 36px;
    border: 0 none;
    background: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg) no-repeat 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}

#gnb .btn_location.on {
    background-image: url(../img/ico_delivery_setting.svg);
}


#gnb .btn_location.on:hover {
    background-image: url(../img/ico_delivery_setting.svg);
    filter: invert(14%) sepia(25%) saturate(7147%) hue-rotate(272deg) brightness(57%) contrast(127%);
}

#gnb .gnb_sub:hover{
    box-sizing: border-box;
    
}

#gnb .cart_count {
    position: absolute;
    right: -5px;
    top: 10px;
}

#gnb .cart_count .btn_cart {
    display: block;
    width: 36px;
    height: 36px;
    background: url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg) no-repeat 50% 50%;

}

#gnb .cart_count .btn_cart:hover {
    background-image: url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg);
    filter: invert(14%) sepia(25%) saturate(7147%) hue-rotate(272deg) brightness(57%) contrast(127%);
}

#gnb .cart_count .inner_cartcount {
    text-align: center;
    font-weight: 400;
}

#gnb .cart_count .inner_msgcart {
    display: block;
    overflow: hidden;
    /* padding: 20px 0 20px 20px; */
}

#gnb .cart_count .msg_cart .desc {
    float: left;
    width: 260px;
    padding: 8px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

#gnb .cart_count:hover {
    color: #5f0080;
}
/* 바디 -------------------------------------------------*/

#main {
    border-bottom: 1px solid #f7f7f7;
}

#content {
    padding-bottom: 0;
}

#mainNotice {
    position: relative;
    z-index: 5000;
    width: 1050px;
    margin: 0 auto;
}

/* .bxslider > li {
    width: 1900px;
} */
.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 370px;
}

/* 여건 작성 {*/
.bx-wrapper {
    margin: 0 auto;
}

.bx-wrapper .bx-viewport .slider {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
}
/* }*/

.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 370px;
}

.bx-wrapper>.bx-viewport>.list>li{
    width: 2543px;
    height:370px;
    float: left;
    list-style: none;
    position: relative;
}


#gnb .gnb_main .gnb a{
font-size: 16px;
color: #333;
line-height: 20px;
text-align: center;
}

#gnb .gnb_main .gnb a .txt {
    font-weight: 700;
}

#gnb .layer_location {
    display: none;
    position: absolute;
    z-index: 300;
    right: 41px;
    top: 56px;
    width: 315px;
    padding: 18px 18px 19px 20px;
    border: 1px

/* <<<<<<< HEAD */
solid #ddd;

    /* solid #ddd; */
/* >>>>>>> main */
    background-color: #fff;
}

#gnb .cart_count .msg_cart {
    display: none;
    position: absolute;
    right: -7px;
    top: 61px;
    width: 348px;
    border: 1px solid #ddd;
    background-color: #fff;
    /* opacity: 0; */
}

.page_main * {
    color: #333;
}

.page_main {
    overflow: hidden;
    width: 100%;
    margin: 0;
}
.page_main .tit_goods {
    padding: 79px 0 35px;
}

.page_main .tit_goods .tit {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.3px;
    text-align: center;
}

/* 여건작성 {*/
/* '이 상품 어떄요?' 이동버튼 제작 */
.page_main .bx-controls-direction {
    position: relative;
    width: 1050px;
    margin: 0 auto;
}

.page_main .bx-controls-direction .bx-next, .page_main .bx-controls-direction .bx-prev {
    overflow: hidden;
    position: absolute;
    bottom: 316px;
    width: 60px;
    height: 60px;
    border: 0 none;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    transition: 0.5s;
}

.page_main .bx-controls-direction .bx-prev {
    left: -30px;
    background: url(../img/btn_prev_default.webp) no-repeat 50% 50%;
    transition: background 0.5s;
}

.page_main .bx-controls-direction .bx-next {
    right: -30px;
    background: url(../img/btn_next_default.webp) no-repeat 50% 50%;
    transition: background 0.5s;
}

.page_main .bx-controls-direction .disabled {
    opacity: 0;
    display: none;
}
/* } */

/* 여건작성 {*/
/* 메인배너 페이지 이동 버튼 */
.main_type1 .bx-controls-direction .bx-next, .main_type1 .bx-controls-direction .bx-prev {
    bottom: 159px;
    width: 52px;
    height: 52px;
    /* opacity: 0; */
}

.main_type1 .bx-controls-direction .bx-next:hover, .main_type1 .bx-controls-direction .bx-next {
    right: -91px;
    background: url(../img/ico_next1_x1.webp) no-repeat 50% 50%;
    transition: opacity 0.5s;
}

.main_type1 .bx-controls-direction .bx-prev:hover, .main_type1 .bx-controls-direction .bx-prev {
    left: -91px;
    background: url(../img/ico_prev1_x1.webp) no-repeat 50% 50%;
    transition: opacity 0.5s;
}
/* } */

.main_type1 .list_goods .thumb_goods {
    /* 이미지 비율 때문에 width값 비활성화 : 여건 */
    width: 100%;
    height: 370px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto auto;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}


div .bnr_main1 {
    width: 1050px;
    height: 140px;
    margin: 0 auto;
    background-image: url(../img/bnr_main1.png);
    background-size: contain;
}

div .bnr_main2 {
    width: 1050px;
    height: 140px;
    margin: 0 auto;
    background-image: url(../img/bnr_main2.png);
    background-size: contain;
}

div .bnr_main3 {
    width: 1050px;
    height: 140px;
    margin: 0 auto;
    background-image: url(../img/bnr_main3.png);
    background-size: contain;
}

/* 여건 수정 { */
/* 스티커 수정 */
.global_sticker .inner_sticker{
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    height: 32px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}

.global_sticker .txt_sticker {
    position: relative;
    z-index: 1;
}

.global_sticker .bg_sticker {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: #bd76ff;
    opacity: 0;
}

.global_sticker .txt_sticker span {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    vertical-align: top;
    font-size: 0;
}

.global_sticker .txt_sticker .emph_sticker {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}
/* } */
.main_type2 .list_goods{width:1050px;height:506px;margin:0 auto}
.main_type2 .list_goods .list{width:99999px}
.main_type2 .list_goods li{float:left;width:249px;height:506px;margin-right:18px}
.main_type2 .list_goods .thumb_goods{position:relative;background-color:#eee}
.main_type2 .list_goods .ico{position:absolute;left:0;top:0;width:62px;height:54px}
.main_type2 .list_goods .thumb{width:249px;height:320px}
.main_type2 .list_goods .name{
    display:block; overflow:hidden; max-height:50px; margin-top:12px;
    text-overflow:ellipsis; display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;
    word-wrap:break-word
}
.main_type2 .list_goods .txt{font-size:16px;line-height:20px}

.main_type2 .list_goods .price{
    display:block;
    padding-top:9px;
    font-weight:800;
    font-size:16px;
    line-height:20px
}

.main_type2 .list_goods .dc{padding-right:8px;font-weight:800;font-size:16px;color:#fa622f;line-height:20px}

.main_type2 .list_goods .cost{
    display:block;
    padding-top:5px;
    font-size:14px;
    color:#999;
    line-height:18px;
    text-decoration:line-through
}

.main_event .list_goods {
    overflow: hidden;
    height: 538px;
}

.main_type3 .list_goods {
    width: 1050px;
    margin: 0 auto;
}

.main_event .list_goods .list {
    width: 1068px;
}

.main_type3 .list_goods li {
    float: left;
    width: 338px;
    margin-right: 18px;
}

/* .main_type3 .list_goods .thumb_goods {
    display: block;
    position: relative;
} */

/* ↓↓↓↓↓↓↓특가/혜택 파트 이미지 사이즈 조절  */
/* 여건작성 {*/
    .main_type3 .list_goods .thumb {
        width: 338px;
    }

    .main_event .list_goods .thumb {
        height: 338px;
    }
/* } */

.page_main .list_goods .thumb_goods .thumb {
    /* 이 상품 어때요? 파트 이미지 사이즈 맟추기 위해 width, height 비활성화 :여건 */
    /* width: 338px;
    height: 338px; */
    display: block;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

/* 여건작성 {*/
page_main .list_goods a {
    cursor: pointer;
}

/* 배경색으로 파티션 나눈 거 구현 */
.page_main .bg {
    background-color: #f7f7f7;
}

/* 메인 배너 왼쪽 치우침 및 넘치는거 해결 */
.page_main .list_goods .thumb_goods {
    display: block;
    overflow: hidden;
    margin: 0px auto;
}

/* MD 추천 제목  */
.page_main .tit_goods .name {
    position: relative;
    font-weight: 700;
}

/* 특가/혜택 옆 > 모양 삽입 */
.page_main .tit_goods .name .ico {
    padding: 0 31px;
    background: url(../img/ico_title_link_x1.webp) no-repeat 100% 50%;
    font-weight: 700;;
}
/* } */

.main_event .list_goods .name {
    max-height: 54px;
    margin-top: 17px;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

/* 여건작성 {*/
.main_event .list_goods .name .txt {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px;
}
/* } */

.main_event .list_goods .desc {
    padding-top: 8px;
}

.main_type3 .list_goods .desc {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 여건작성 {*/
/* 제품 설명 폰트 색 및 크기 */
.main_type3 .list_goods .desc .txt {
    font-size: 16px;
    line-height: 20px;
}

.main_event .list_goods .desc .txt {
    color: #999;
}
/* } */

/* <<<<<<< HEAD */
/* footer */


/* 여건작성 {*/
/* MD추천 */
.category_type {
    padding-bottom: 100px;
}

.category_type .category .list_category {
    width: 1050px;
    max-width: 1050px;
    padding: 0 0 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.category_type .category .list_category li {
    display: inline-block;
    padding: 0 5px 20px;
}

.category_type .category .list_category .menu {
    display: inline-block;
    height: 40px;
    padding: 9px 20px 0 19px;
    border: 1px solid #f7f7f6;
    border-radius: 20px;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 18px;
}

.category_type .category .list_category .on:hover, .category_type .category .list_category .on {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    font-weight: 700;
    color: #fff;
}

.category_type .category .list_category .cut::before {
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
}

.category_type .list_goods {
    height: 462px;
}

.category_type .link_cate {
    width: 516px;
    margin: 0 auto;
}

.category_type .link_cate .link {
    display: block;
    overflow: hidden;
    height: 56px;
    padding-top: 16px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    cursor: pointer;
}

.category_type .link_cate .ico {
    padding: 0 18px;
    background: url(../img/ico_more_link_x1.webp) no-repeat 100% -1.5px;
    /* 원래 100% 옆에 -1.5px대신 3px 있었지요.. 아마 폰트 때문에 안 맞는 걸로 보임니당 */
}
/* } */


/*  365일 최저가 : 채현 작성*/
.page_main .tit_goods .name {
    position: relative;
    font-weight: 700;
}

.page_main .tit_goods a {
    cursor: pointer;
}

.page_main .tit_goods .name .ico {
    padding: 0 31px;
    background: url(https://res.kurly.com/pc/service/main/1908/ico_title_link_x1.png) no-repeat 100% 50%;
    font-weight: 700;
}

.page_main .tit_goods .tit_desc {
    display: block;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #999;
    line-height: 20px;
    text-align: center;
}

.main_type2 .list_goods {
    width: 1050px;
    height: 506px;
    margin: 0 auto;
}
.main_type2 .list_goods .thumb_goods {
    position: relative;
    background-color: #eee;
}
.page_main .list_goods .thumb_goods {
    display: block;
    overflow: hidden;
}
.page_main .list_goods a {
    cursor: pointer;
}

.main_type2 .list_goods .thumb {
    width: 249px;
    height: 320px;
}
.page_main .list_goods .thumb_goods .thumb {
    display: block;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

img, video, canvas {
    max-width: 100%;
}
img {
    border: 0;
}
.main_type2 .list_goods .thumb {
    width: 249px;
    height: 320px;
}

.main_type2 .list_goods .name {
    display: block;
    overflow: hidden;
    max-height: 50px;
    margin-top: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
.main_type2 .list_goods .txt {
    font-size: 16px;
    line-height: 23px;
}
.page_main .list_goods a {
    cursor: pointer;
}
li{
    word-break: break-all;
}
.page_aticle button, .page_aticle input, .page_aticle select, .page_aticle * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: 0;
}
.main_type2 .list_goods .txt {
    font-size: 16px;
    line-height: 23px;
}

/* 컬리의 레시피 : 현이 작성 */

.page_main .list_goods .thumb_goods:hover .thumb {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.main_recipe .list_goods { height: 303px; }

.main_recipe .list_goods li { height: 303px; }

.main_recipe .list_goods .thumb { height: 225px; }

.main_recipe .list_goods .name {
    width: 338px;
    padding-top: 12px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.main_recipe .list_goods .txt {
    font-size: 16px;
    line-height: 20px;

}

.main_recipe .bx-controls-direction .bx-next,
.main_recipe .bx-has-controls-direction .bx-prev { bottom: 160px; }


/* 인스타그램 고객 후기 : 현이 작성 */

.main_type4 .list_goods {
    width: 1050px;
    height: 175px;
    margin: 0 auto;
}

.main_type4 .list_goods .list { width: 99999px; }

.main_type4 .list_goods li {
    float: left;
    width: 175px;
    height: 175px;
}

.main_type4 .list_goods .thumb {
    width: 175px;
    height: 175px;
}

.main_type4 .list_goods .thumb_goods:hover .thumb { transform: scale(1);}

.main_type4 .bnr {
    padding: 39px 0 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
}

.main_type4 .bnr .txt {
    display: block;
    font-weight: 400;
    color: #999;
}

.main_type4 .bnr a { font-weight: 700;  color: #333; }

.main_type4 .bx-has-controls-direction .bx-next,
.main_type4 .bx-has-controls-direction .bx-prev { bottom: 58px; }

.main_type4 .bx-controls-auto {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}


/* 사이드 퀵 메뉴 : 현이 작성 */

#qnb{
    position: absolute;
    z-index: 1;
    right: 20px;
    width: 80px;
    font: normal 12px/16px "Noto Sans";
    color: #333;
    letter-spacing: -0.3px;
    transition: top 0.2s;
    position: fixed;
}

#qnb .bnr_qnb {
    padding-bottom: 7px;
}

#qnb .bnr_qnb { padding-bottom: 7px; }

#qnb .bnr_qnb .thumb {
    width: 80px;
    height: 120px;
    vertical-align: top;
}

#qnb .side_menu {
    width: 80px;
    border: 1px solid #ddd;
    border-top: 0 none;
    background-color: #fff;
}

#qnb .link_menu {
    display: block;
    height: 29px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #333; /* 추가함 */
}

#qnb .link_menu:hover,
#qnb .link_menu.on { color: #5f0080; }


/* 사이드 퀵 메뉴 최근 본 상품 시작 : 현이 작성 */

#qnb .side_recent {
    position: relative;
    margin-top: 6px;
    border: 1px solid #ddd;
    background-color: #fff;
}

#qnb .side_recent .tit {
    display: block;
    padding: 22px 0 6px;
    text-align: center;
}

#qnb .side_recent .list_goods {
    overflow: hidden;
    position: relative;
    width: 60px;
    margin: 0 auto;
}

#qnb .side_recent .list {
    position: absolute;
    left: 0;
    top: 0;
}

#qnb .side_recent .link_goods {
    display: block;
    overflow: hidden;
    width: 60px;
    height: 80px;
    padding: 1px 0 2px;
}

#qnb .side_recent .btn {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 17px;
    border: 0 none;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#qnb .side_recent .btn_up {
    position:absolute;
    left:0;
    top:0;
    background:url(../img/ico_quick_up_hover.png) no-repeat 50% 50%
}

#qnb .side_recent .btn_up.off {
    background:url(../img/ico_quick_up.png) no-repeat 50% 50%
}

#qnb .side_recent .btn_down {
    background:url(../img/ico_quick_down_hover.png) no-repeat 50% 0
}

#qnb .side_recent .btn_down.off {
    background:url(../img/ico_quick_down.png) no-repeat 50% 0
}

@media all and (max-width: 1250px){
    #qnb{display:none}
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx) {
        #qnb .side_recent .btn_up{background-image:url(../img/ico_quick_up_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down{background-image:url(../img/ico_quick_down_hover_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_up.off{background-image:url(../img/ico_quick_up_x2.png);background-size:12px 18px}
        #qnb .side_recent .btn_down.off{background-image:url(../img/ico_quick_down_x2.png);background-size:12px 18px}
    }





/* footer : 현이 작성*/

#footer {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 60px;
    font-weight: 400;
    letter-spacing: -.2px;
    font-family: noto sans;
    opacity: 0;
}

#footer strong { font-weight: 700; }

#footer strong.emph { color: #5f0080; }

#footer .inner_footer {
    overflow: hidden;
    padding-bottom: 20px;
}

#footer .footer_cc {
    float: left;
    width: 534px;
}

#footer .tit_cc {
    padding: 29px 0 2px;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    line-height: 24px;
}

#footer .cc_view {
    overflow: hidden;
    padding-top: 16px;
}

#footer .cc_view .tit {
    float: left;
    width: 140px;
    margin-right: 16px;
}

#footer .cc_call {
    padding-top: 20px;
}

#footer .cc_call .tit {
    padding-top: 4px;
    font-weight: 800;
    font-size: 28px;
    color: #333;
    line-height: 36px;
    letter-spacing: -.5px;
    white-space: nowrap;
}

#footer .cc_bulkorder .tit, #footer .cc_kakao .tit, #footer .cc_qna .tit {
    height: 40px;
    padding-top: 7px;
    margin-top: 3px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    text-align: center;
}

#footer .cc_bulkorder .txt, #footer .footer_cc .list {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    letter-spacing: -.2px;
}

#footer .footer_cc .list dt {
    display: block;
}

#footer .footer_cc .list dd {
    color: #999;
}

#footer .cc_bulkorder .txt {
    padding-top: 9px;
    color: #999;
}

#footer .company {
    float: left;
    padding-top: 29px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
}

#footer .company .bar {
    padding: 0 4px 0 3px;
}

#footer .company .link {
    color: #5f0080;
}

#footer .company .copy {
    display: block;
    padding-top: 16px;
    font-style: normal;
    font-size: 10px;
    color: #949296;
    line-height: 22px;
    letter-spacing: 0;
}

#footer .company .list {
    overflow: hidden;
    width: 100%;
    padding-bottom: 29px;
}

#footer .company .list li {
    float: left;
    padding-right: 16px;
}

#footer .company .list .link {
    font-size: 14px;
    color: #333;
    line-height: 18px;
}

#footer .company .list .emph { font-weight: 700; }

#footer .footer_link {
    overflow: hidden;
    padding-top: 19px;
    border-top: 1px solid #eee;
    letter-spacing: 0;
}

#footer .list_sns { 
    float: left;
    padding-top: 16px;
}

#footer .list_sns li { float: left; }

#footer .list_sns .link_sns {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: top;
}

#footer .link_sns img { /* 추가 작성 */
    width: 30px;
    height: 30px;
}

#footer .list_sns .lst { margin-right: 0; }

#footer .authentication {
    float: left;
    padding-top: 3px;
}

#footer .mark {
    float: left;
    width: 267px;
}

#footer .mark .logo {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

#footer .mark .txt {
    float: left;
    padding-top: 1px;
    font-size: 10px;
    color: #999;
    line-height: 16px;
    letter-spacing: -.5px;
    white-space: nowrap;
}

#footer .mark .emph {
    padding-left: 2px;
    color: #5f0080;
}

#footer .lguplus { width: 428px; }

#footer .lguplus .logo {
    width: 102px;
    height: 34px;
}
