
.id{
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    display: block;
    padding: 0 0 30px;
}

span {
    display: hidden;
}

body{

    font-family:'Noto Sans KR' sans=serif ;
    font-size: 13px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-size: auto;
    margin:0;
}


/* 휴대폰 인증 */
.find_form .certify_from #phone_confirm{
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    width: 150px;
    font-family: sans-serif;
    text-transform: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: black
}

.find_form .certify_from #phone_confirm{
    box-shadow: inset 0px -1px 0px 0px #dddddd;
}


/* 이메일 인증 */
.find_form .certify_from #email_confirm {
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    width: 150px;
    font-family: sans-serif;
    text-transform: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color:#5f0080;
    box-shadow: inset 0px -2px 0px 0px #5f0080;
}

/* 이메일 인증 누르면 색상
.find_form .certify_from #email_confirm:focus {
    cursor: pointer;
    color: #5f0080;
    box-shadow: inset 0px -2px 0px 0px #5f0080;
} */


/* 아이디 */

.find_form .find_form .find_id #pw_id{
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 8px 0 11px;
    margin-bottom: 1px;
}


.find_form .find_form .find_id #name_id{
    font-family: sans-serif;
    font-size: 16px;
    width: 350px;
    height: 45px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* 경고 */
/* .find_form .find_form .find_id .warn{
    font-family: sans-serif;
    font-size: 13px;
    color: red;
} */


/* 이메일 */
/* ================================ */


.find_form .find_email #email{
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 8px 0 11px;
    margin-bottom: 5px;
}


.find_form .find_email #email_id{
    font-family: sans-serif;
    font-size: 16px;
    width: 350px;
    height: 45px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* 경고 */
/* .find_form .find_email .warn{
    font-family: sans-serif;
    font-size: 13px;
    color: red;
} */
/* ================================ */


/* 확인 */
.find_form .confirm #confirm_btn{
    font-family: sans-serif;
    font-size: 16px;
    width: 350px;
    height: 65px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #dddddd;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}