
/* 아이디를 입력하세요 */
.login.login_form input[type=login],input[type=password]{
    width: 340px;
    height: 54px;
    font-size: 13px;
    border-radius: 3px;
    line-height: 20px;
    background-color: #fff;

}


.checkbox_search.search_idpw
[type=checkbox]{
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;

}

.checkbox_search.search_idpw{
    font-family: 'Noto Sans KR' sans=serif ;
    font-size: 13px;
    color: #3333;
}


.submit_form{margin-top: 15px;}
.submit_form.btn_num1{
            width: 340px;
            height: 54px;
            border-radius: 3px;
            background-color: #5F0080;
            color: #fff;
            font-size: 16px;
            margin: 20px;
            border: 5px;
            cursor: pointer;
}

.submit_form.btn_num2{
            width: 340px;
            height: 54px;
            border-radius: 3px;
            background-color: white;
            color: #5F0080;
            padding: 0;
            margin: 20px;
            cursor: pointer;
            border: 5px;
}