@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* 회원가입 */
.content.form_phone{
    width: 130px;
    height: 40px;
    font-size: 13px;
    border-radius: 3px;
    background-color: #fff;
}



/* ul li::after{
    display: block;
    position: absolute;
    background-color: transparent;
    text-decoration: none;

} */



.main_login.content{
    display: inline-block; 
    width: 63px; 
    font-size: 13px; 
    color: #464646;}

/* 아이디,비밀번호 */
.main_login.content input.tbl_form  input[type="text"], input[type="password"] {
    width: 332px; 
    height: 44px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #E8F0FE;
    padding: 0px 14px;
}

/* 아이디 중복확인 */
.main_login.content input.tbl_form.id_again [type="text"]{
    width: 120px;
    height: 44px;
    border-radius: 3px;
    border-color: #5F0080;
    font-size: 14px;
    background-color: white;

}
::before
.main_login.content.tbl_form.ul.li{
    width: 332px;
    height: 17.6px;
    color: #6666;
    font-size: 12px;
    font-family: "noto sans";
}
::after
.main_login.content.tbl_form.ul.li{
    
    width: 332px;
    height: 17.6px;
    color: #0F851A;
    font-size: 12px;
    font-family: "noto sans";
}

/* 비밀번호 확인-휴대폰 */
.main_login.content input.tbl_form2 input[type="text"]{
    width: 332px;
    height: 44px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #fff;
    padding: 0px 14px;
}

/* 인증번호 받기 확인 */
.main_login.content input.tbl_form2 input[type="hidden"]{
    width: 120px;
    height: 44px;
    font: "noto sans";
    border-radius: 3px;
    font-size: 14px;
    color: lightgray;
    margin: 0px 0px 0px 5px;
}
::after{
    border-color: #5F0080;
}



/* 주소검색 */
.tb1_form2.address input[type="text"]{
    width: 332px;
    height: 44px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 3px;
    border-color: #5F0080;
}