@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* 회원가입 */
.content.form_phone{
    width: 130px;
    height: 40px;
    font-size: 13px;
    border-radius: 3px;
    background-color: #fff;
}

/* 아이디중복확인 */
/* .content.form_phone input[type=text]{

} */

/* ul li::after{
    display: block;
    position: absolute;
    background-color: transparent;
    text-decoration: none;

} */



/* 로그인 화면 */
*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family:'Noto Sans KR' sans=serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-size: auto;
}



/* 아이디를 입력하세요 */
.content_form.login_form input[type=login],input[type=password]{
    width: 130px;
    height: 40px;
    font-size: 13px;
    border-radius: 3px;
    line-height: 20px;
    background-color: #fff;

}


.checkbox_search.search_idpw
[type=checkbox]{
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;

}

.checkbox_search.search_idpw{
    font-family: 'Noto Sans KR' sans=serif ;
    font-size: 13px;
    color: #3333;
}


.submit_form{margin-top: 15px;}
.submit_form.btn_num1{
            width: 130px;
            height: 40px;
            border-radius: 3px;
            background-color: #5F0080;
            color: #fff;
            font-size: 16px;
            margin: 20px;
            border: 5px;
            cursor: pointer;
}

.submit_form.btn_num2{
            width: 160px;
            height: 40px;
            border-radius: 3px;
            background-color: white;
            color: #5F0080;
            padding: 0;
            margin: 20px;
            cursor: pointer;
            border: 5px;
}